body {
    text-align: center;
}
nav{
    background-color: steelblue;
    padding: 20px;
}

h1{
    color: steelblue;

}

img{
    width: 80%;
    border: 4px solid steelblue;
}
.para{
    font-size: 1.5em;
    line-height:1.5em;
    width: 80%;
}






a {
    color:white;
    font: 1em;
    text-decoration: none;
    margin: 40px;
    padding:20px
}

#active{
    background-color: white;
    color:steelblue;
}